@import 'scss/transition.scss';

.Button {
  display: block;
  max-width: 150px;
  border: 2px solid var(--color-secondary);
  color: var(--color-secondary);
  border-radius: 5px;
  padding: 5px 10px;
  margin: 10px auto 0;
  text-align: center;
  @include transition-color;


  &:hover {
    background-color: var(--color-secondary);
    color: var(--background-color);
  }
}
