@import 'scss/screenWidthBreakpoints';

.GameCardList {
  display: grid;
  grid-gap: 2vw;
  grid-template-columns: auto;

  @include landscape-tablet {
    grid-template-columns: auto auto;
  }

  @include desktop {
    grid-template-columns: auto auto auto;
  }
}
