@import 'scss/screenWidthBreakpoints.scss';
@import 'scss/transition.scss';
@import 'scss/themeColors.scss';

$box-radius: 10px;
$box-padding: 10px;
$image-height: 25vh;

.GameCard {
  position: relative;
  padding-bottom: $box-padding;
  width: 90vw;
  background-color: var(--game-card-background-color);
  border-radius: $box-radius;
  transition: transform $transition-duration;

  @include landscape-tablet {
    width: 37vw;
  }

  @include desktop {
    width: 25vw;
  }

  &:hover {
    transform: scale(1.08);
  }

  &__image {
    width: 100%;
    height: $image-height;
    border-radius: $box-radius $box-radius 0 0;
    object-fit: scale-down;
  }

  &__imageHover {
    position: absolute;
    top: -0.5vh;
    bottom: 0;
    left: 0;
    right: 0;
    height: $image-height;
    padding: $box-padding;
    border-radius: $box-radius $box-radius 0 0;
    background: var(--background-color);
    color: var(--color-text);
    visibility: hidden;
    opacity: 0;

    /* transition effect. not necessary */
    transition: opacity $transition-duration, visibility $transition-duration;
  }

  &:hover &__imageHover {
    visibility: visible;
    opacity: 0.95;
  }

  &__title {
    padding: 0 $box-radius;
    font-size: 1.25rem;
    font-weight: bold;
  }

  &__platform {
    padding: 0 $box-radius;
  }
}
