:root {
  // light colors
  --light-background: #ecf3f7;
  --light-color-text: #270f35;
  --light-color-primary: #9c0000;
  --light-color-secondary: #03616d;
  --light-game-card-background-color: #fff;

  // dark colors
  --dark-background: #270f35;
  --dark-color-text: #ecf3f7;
  --dark-color-primary: #F55;
  --dark-color-secondary: #8dd7e0;
  --dark-game-card-background-color: #FFFFFF25;
}

.light {
  --background-color: var(--light-background);
  --background-color-secondary: var(--dark-background);
  --color-text: var(--light-color-text);
  --color-primary: var(--light-color-primary);
  --color-secondary: var(--light-color-secondary);
  --game-card-background-color:var(--light-game-card-background-color);
  --game-card-color-text: var(--dark-color-text);
}

.dark {
  --background-color: var(--dark-background);
  --background-color-secondary: var(--light-background);
  --color-text: var(--dark-color-text);
  --color-primary: var(--dark-color-primary);
  --color-secondary: var(--dark-color-secondary);
  --game-card-background-color: var(--dark-game-card-background-color);
  --game-card-color-text: var(--light-color-text);
}
