:root {
  // light colors
  --light-background: #FFFFFF;
  --light-color-text: #000000;
  --light-color-primary: #660000;
  --light-color-secondary: #79d3df;
  --light-card-background-color: #270f3510;

  // dark colors
  --dark-background: #270f35;
  --dark-color-text: #FFFFFF;
  --dark-color-primary: #F55;
  --dark-color-secondary: #10c5dd;
  --dark-card-background-color: #FFFFFF25;
}

.light {
  --background-color: var(--light-background);
  --background-color-secondary: var(--dark-background);
  --color-text: var(--light-color-text);
  --color-primary: var(--light-color-primary);
  --color-secondary: var(--light-color-secondary);
  --game-card-background-color:var(--light-card-background-color);
  --game-card-color-text: var(--dark-color-text);
}

.dark {
  --background-color: var(--dark-background);
  --background-color-secondary: var(--light-background);
  --color-text: var(--dark-color-text);
  --color-primary: var(--dark-color-primary);
  --color-secondary: var(--dark-color-secondary);
  --game-card-background-color: var(--dark-card-background-color);
  --game-card-color-text: var(--light-color-text);
}
